@using MVC.Areas.CustomerServicePanel.Models.DTOs.Sss
@model SssDTO

@{
    ViewData["Title"] = "UpdateSss";
}

<h1>UpdateSss</h1>

<h4>SssDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSss">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="AskTitle" class="control-label"></label>
                <input asp-for="AskTitle" class="form-control" />
                <span asp-validation-for="AskTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}