@using System.Security.Claims


<ul class="navbar-nav">
    @{
        bool userIsAdmin = false;
        bool userIsContentManager = false;
        bool userIsCustomerService = false;
        bool userIsVisitor = false;

        if (User.IsInRole != null)
        {
            // string user= @Model.UserRoles.FirstOrDefault();
            if (User.IsInRole("Admin"))
                userIsAdmin = true;
            else if (User.IsInRole("ContentManager"))
                userIsContentManager = true;
            else if (User.IsInRole("CustomerService"))
                userIsCustomerService = true;
            else if (User.IsInRole("Visitor"))
                userIsVisitor = true;
        }
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="list-group mt-3">
            <a id="manage" class="list-group-item list-group-item-action text-dark">Hello @User.Identity.Name</a>
        </div>

        @if (userIsAdmin)
        {
            <div class="list-group">
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="User" asp-action="UpdateAdmin" asp-route-userId="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">Profil Bilgilerimi Düzenle</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="User" asp-action="GetAllUserByRoles">Kullanıcı Yönetimi</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="OfferCart" asp-action="GetAllOfferCarts">Satışlar</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="Product" asp-action="GetAllProducts">Ürün Yönetimi</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="Category" asp-action="GetAllCategories">Kategori Yönetimi</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="Refund" asp-action="GetAllRefundRequest">İade Talepleri</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="Product" asp-action="GetAllProductsForAdmin">İşlem Onayları</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="Log" asp-action="GetAllLogs">Log Raporları</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="OfferCartMessage" asp-action="Index">İletişim Kontrolü</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="AdminPanel" asp-controller="Report" asp-action="Index">İstatiksel Raporlar</a>
            </div>

        }
        else if (userIsContentManager)
        {
            <div class="list-group">
                <a id="manage" class="list-group-item list-group-item-action" asp-area="ContentManagerPanel" asp-controller="User" asp-action="UpdateAdmin" asp-route-userId="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">Profil Bilgilerimi Düzenle</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="ContentManagerPanel" asp-controller="Product" asp-action="GetAllProducts">Ürün Yönetimi</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="ContentManagerPanel" asp-controller="Category" asp-action="GetAllCategories">Kategori Yönetimi</a>
                <a id="manage" class="list-group-item list-group-item-action" asp-area="ContentManagerPanel" asp-controller="Blog" asp-action="GetAllBlogs">Haber ve Blog Yönetimi</a>
            </div>
        }
        else if (userIsCustomerService)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="CustomerServicePanel" asp-controller="Panel" asp-action="Index">Customer Service Panel</a>
            </li>
        }
        else if (userIsVisitor)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="VisitorPanel" asp-controller="Panel" asp-action="Index">Visitor Panel</a>
            </li>
        }
        <div class="list-group mt-3">
            <a id="manage" class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış</a>
        </div>

    }
    else
    {
        <div class="list-group">
            <a class="list-group-item list-group-item-action" id="register" asp-controller="Account" asp-action="Create">Register</a>
            <a class="list-group-item list-group-item-action" id="login" asp-controller="Account" asp-action="Login">Login</a>
        </div>
    }
</ul>








