

<ul class="navbar-nav">
    @{
        bool userIsAdmin = false;
        bool userIsContentManager = false;
        bool userIsCustomerService = false;
        bool userIsVisitor = false;

        if (User.IsInRole != null)
        {
            // string user= @Model.UserRoles.FirstOrDefault();
            if (User.IsInRole("Admin"))
                userIsAdmin = true;
           else if (User.IsInRole("ContentManager"))
                userIsContentManager = true;
           else if (User.IsInRole("CustomerService"))
                userIsCustomerService = true;
           else if (User.IsInRole("Visitor"))
                userIsVisitor = true;

            
            
        }
    }

    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark">Hello @User.Identity.Name</a>
        </li>

        @if (userIsAdmin)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="AdminPanel" asp-controller="Panel" asp-action="Index">Admin Panel</a>
            </li>
        }
        else if (userIsContentManager)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="ContentManagerPanel" asp-controller="Panel" asp-action="Index">Content Manager Panel</a>
            </li>
        }
        else if (userIsCustomerService)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="CustomerServicePanel" asp-controller="Panel" asp-action="Index">Customer Service Panel</a>
            </li>
        }
        else if (userIsVisitor)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="VisitorPanel" asp-controller="Panel" asp-action="Index">Visitor Panel</a>
            </li>
        }

        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış</a>  
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Create">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>








