@using System.Security.Claims


<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        @{
            bool userIsAdmin = false;
            bool userIsContentManager = false;
            bool userIsCustomerService = false;
            bool userIsVisitor = false;

            if (User.IsInRole != null)
            {
                // string user= @Model.UserRoles.FirstOrDefault();
                if (User.IsInRole("Admin"))
                    userIsAdmin = true;
                else if (User.IsInRole("ContentManager"))
                    userIsContentManager = true;
                else if (User.IsInRole("CustomerService"))
                    userIsCustomerService = true;
                else if (User.IsInRole("Visitor"))
                    userIsVisitor = true;
            }
        }

        @if (User.Identity.IsAuthenticated)
        {
            @if (userIsAdmin)
            {
                <!-- ======= Sidebar ======= -->
                <li class="nav-item">
                    <a class="nav-link " asp-area="AdminPanel" asp-controller="User" asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="AdminPanel" asp-controller="User" asp-action="UpdateAdmin" asp-route-userId="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <!-- End Profile Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="AdminPanel" asp-controller="User" asp-action="GetAllUserByRoles">
                        <i class="bi bi-person"></i>
                        <span>User Management</span>
                    </a>
                </li>

                <!-- End Kullanıcı Yönetimi Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-bar-chart"></i><span>Sales</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="AdminPanel" asp-controller="OfferCart" asp-action="GetAllOfferCarts">
                                <i class="bi bi-circle"></i><span>Offer Carts</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End Satışlar Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-gem"></i><span>Product Management</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="AdminPanel" asp-controller="Product" asp-action="GetAllProducts">
                                <i class="bi bi-circle"></i><span>Products</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End Ürün Yönetimi Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Category Management</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="AdminPanel" asp-controller="Category" asp-action="GetAllCategories">
                                <i class="bi bi-circle"></i><span>Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End Kategori Yönetimi Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-journal-text"></i><span>Refund Management</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="AdminPanel" asp-controller="Refund" asp-action="GetAllRefundRequestByAdmin">
                                <i class="bi bi-circle"></i><span>Refunds</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End İade Yönetimi Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-check"></i><span>Confirmations</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="AdminPanel" asp-controller="Product" asp-action="GetAllProductsForAdmin">
                                <i class="bi bi-circle"></i><span>Product Approval</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End İşlem Onayları Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="AdminPanel" asp-controller="Report" asp-action="Index">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>Reports</span>
                    </a>
                </li>

                <!-- End Rapor Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="AdminPanel" asp-controller="OfferCartMessage" asp-action="Index">
                        <i class="bi bi-envelope"></i>
                        <span>Communication Control</span>
                    </a>
                </li>

                <!-- End İletişim Kontrolü Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="AdminPanel" asp-controller="Log" asp-action="GetAllLogs">
                        <i class="bi bi-dash-circle"></i>
                        <span>Log Data</span>
                    </a>
                </li>

                <!-- End Error 404 Page Nav -->
            }
            else if (userIsContentManager)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="ContentManagerPanel" asp-controller="User" asp-action="UpdateAdmin" asp-route-userId="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-gem"></i><span>Product Management</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="ContentManagerPanel" asp-controller="Product" asp-action="GetAllProducts">
                                <i class="bi bi-circle"></i><span>Products</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Category Management</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="ContentManagerPanel" asp-controller="Category" asp-action="GetAllCategories">
                                <i class="bi bi-circle"></i><span>Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>News & Blogs Management</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-area="ContentManagerPanel" asp-controller="Blog" asp-action="GetAllBlogs">
                                <i class="bi bi-circle"></i><span>News</span>
                            </a>
                        </li>
                    </ul>
                </li>

            }
            else if (userIsCustomerService)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="CustomerServicePanel" asp-controller="User" asp-action="UpdateAdmin" asp-route-userId="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="CustomerServicePanel" asp-controller="Refund" asp-action="GetAllRefundRequestByCustomerService">
                        <i class="bi bi-check"></i>
                        <span>Refund Management</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="CustomerServicePanel" asp-controller="Sss" asp-action="GetAllSss">
                        <i class="bi bi-check"></i>
                        <span>F.A.Q Management</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-area="CustomerServicePanel" asp-controller="OfferCart" asp-action="GetAllOfferCartsForCustomerService">
                        <i class="bi bi-gem"></i>
                        <span>Offer Cart Management</span>
                    </a>
                </li>

            }
            else if (userIsVisitor)
            {
                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="VisitorPanel" asp-controller="Panel" asp-action="Index">Visitor Panel</a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="" asp-action="Logout" asp-controller="Account">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link collapsed" id="register" asp-controller="Account" asp-action="Create">
                    <i class="bi bi-card-list"></i>
                    <span>Register</span>
                </a>
            </li>

            <!-- End Register Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" id="login" asp-controller="Account" asp-action="Login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            </li>

            <!-- End Login Page Nav -->
        }
    </ul>
</aside>








